{
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module"
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "root": true,
  "env": {
    "node": true,
    "browser": true,
    "commonjs": true,
    "jest": true,
    "es6": true
  },
  "rules": {
    "semi": 1,
    "eqeqeq": 1,
    "no-console": 0,
    "object-curly-spacing": 1,
    "no-unused-vars": [2, { "vars": "all", "args": "after-used" }],
    "max-len": [1, { "code": 120 }],
    "import-name": 0,
    "@typescript-eslint/no-explicit-any": 0
  }
}
